<% if session["user_id"].present?%>
    <%if User.find_by(id: session["user_id"]).username == @topic.user%>
<h2>Edit Your Topic</h2>

<%=form_tag topic_url(@topic.id),:method=>'patch' do%>
    <p><label>Title:</label> <input name="title" size="30" value="<%=@topic.title%>"></p>
    <p><label>Content:</label></p><textarea name="content" cols="80" rows="3"><%=@topic.content%></textarea>
    <p><button>Submit</button></p>
    <% end %>
    <% end %>
<% end %>


