<style>
    h2 {
        color: white;
        background: #006;
        padding: 6px;
        text-align: center;
    }
    img {
        float: left;
        margin-right: 40px;
        box-shadow: 8px 8px 4px gray;
        height: "200px";
    }
    p {
        margin-top: 24px;
        margin-bottom: 24px;
    }
</style>
<h1><%= @topic.subforum %></h1>

<%= link_to "Go Back", "/"%>

<h2><%= @topic.title %></h2>


<div>

    <p><%= @topic.content %></p>


    <p></p>


