<style>
  h1 {
    border-bottom: solid 3px gray;
    margin-bottom: 24px;
  }
</style>
<% if session[:user_id].present? %>
<p><%= link_to "Create a Subforum", subforums_new_url %></p>
<%end%>
<ul>

  <% @subforums.each do |subforum| %>
    <li>
      <%= link_to subforum.title, subforum_url(subforum.id), :method=> 'get' %>
    </li>
  <% end %>

</ul>
