<% if session[:user_id].present? %>
    <%if User.find_by(id: session["user_id"]).username == "Admin"%>
<h2>Create a Subforum</h2>

<%=form_tag "/subforums", :method => 'post' do%>
    <p><label>Title:</label> <input name="title" size="30"></p>
    <p><button>Submit</button></p>
    <% end %>
    <% end %>
<% end %>
